body{
    margin: 0px;
    padding: 0px;
}
header, footer{
    background-color: bisque;
    height: 20vh;
}

#main{
    display: flex;
}

#main article{
    flex: 1;
}

#main nav,
#main aside{
    height: 50vh;
}

#main nav{
    background-color: pink;
    width: 14vw;
    order: 1;
}

#main aside{
    background-color: plum;
    width: 14vw;
}