body{
    margin: 8vw;
    padding: 8vw;
}

img{
    margin: 5px;
}

#baris1{
    display: flex;
    height: 30vh;
    
}
#baris1 img{
    width: 80vw;

}

#baris2{
    display: flex;
    height: 20vh;
}

#baris2 img{
    width: 14vw;
}